<?xml version='1.0' encoding='utf-8'?>
<widget id="com.olaje.werther" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Werther</name>
    <description>
        Detección oportuna de conductas suicidas.
    </description>
    <author email="info@heywee.com" href="http://www.uson.mx">
        Heywee
    </author>
    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="android-minSdkVersion" value="14" />   
        <icon src="res/playstore-icon.png" />       
        <icon density="ldpi" src="res/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="res/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="res/drawable-hdpi/icon.png"  />
        <icon density="xhdpi" src="res/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/drawable-xxxhdpi/icon.png" />
    </platform>    
    <content src="index.html" />
    <access origin="*" />
</widget>
