    <ion-view>
      <ion-content overflow-scroll="true" class="padding">
        <center>
        <h5>Detección oportuna de conductas suicidas.</h5>
          <img src="img/logo.png" class="full-image" />
          <p>
            <a class="button button-block button-assertive ion-clipboard" href="#/inicio"> Guía de evaluación</a>
          </p>
          <p>
            <a class="button button-calm button-assertive ion-checkmark" href="#/manejo"> Manejo</a>
            <a class="button button-calm button-assertive ion-ios-pulse" href="#/escalas"> Escalas</a>
          </p>
          <p>
            <a class="button button-calm button-assertive ion-help-buoy" href="#/contact"> Directorio</a>
            <a class="button button-calm button-assertive ion-ios-information" href="#/about"> Acerca</a>
          </p>
        </center>          

      </ion-content>
    </ion-view>