<ion-view>
  <ion-content overflow-scroll="true" class="padding">
    <div class="card">
        <div class="item item-text-wrap">
            <strong>Ofrecer y activar el apoyo psicosocial</strong>
        </div>          
    </div>  
  <div class="card">
    <div class="item item-text-wrap text-justify">
        <div id="salud-markdown5" class="show-list-numbers-and-dots">        
          <strong>Ofrezca apoyo psicosocial</strong>
          <p>
           » Ofrezca apoyo a la persona.
           <hr/>
           » Explore las razones y formas de permanecer con vida.
           <hr/>
           » Céntrese en las fortalezas positivas de la persona permitiéndole hablar acerca de cómo se han resuelto los problemas previos.
          <hr/>
          » Si se contara con suficientes recursos humanos disponibles, considere la terapia de solución de problemas para tratar a las personas que han cometido actos de autolesión durante el último año.          
          </p>
          <br/>
          <strong>Active el apoyo psicosocial.</strong>
          <p>
          » Incorpore a la familia, los amigos y las personas interesadas y a otros recursos disponibles para asegurar que la persona esté siendo estrechamente monitoreada mientras persiste el riesgo.
          <hr/>
          » Aconseje a la persona y a los cuidadores a restringir el acceso a los métodos usados para autoagredirse (por ejemplo, pesticidas y otras sustancias tóxicas, medicamentos, armas de fuego), mientras la persona tenga pensamientos, planes o actos de autolesión.
          <hr/>
          » Mejore y coordine el apoyo social con los recursos comunitarios
          disponibles. Estos incluyen recursos informales, tales como familiares,
          amigos, conocidos, colegas y líderes religiosos, o recursos comunitarios
          formales, si están disponibles, tales como centros de crisis y centros
          locales de salud mental.
          <hr/>
          » Informe a los cuidadores y a otros miembros de la familia que
          preguntarle a una persona directamente acerca del suicidio a menudo
          reduce la ansiedad que rodea el sentimiento; la persona se puede
          sentir aliviada y mejor comprendida.
          <hr/>
          » Los cuidadores de las personas que están en riesgo de autolesión
          con frecuencia tienen mucho estrés. Ofrezca apoyo emocional a los
          familiares / cuidadores, si lo necesitan.
          <hr/>
          » Informe a los cuidadores que aunque se puedan sentir frustrados,
          es recomendable que eviten las críticas severas y la hostilidad hacia
          la persona que está en riesgo de autolesión             
          </p>  
        </div>
      </div>
  </div>   
  </ion-content>
</ion-view>