<ion-view>
  <ion-content overflow-scroll="true" class="padding">
    <center>
        <h4>Manejo</h4>
        <div class="card">
          <ion-list id="page-list">
              <ion-item id="page-list-item1" href="#/manejo_a">Cuidado de la persona con problemas de autolesión</ion-item>
              <ion-item id="page-list-item2" href="#/manejo_b">Ofrecer y activar el apoyo psicosocial</ion-item>
              <ion-item id="page-list-item2" href="#/manejo_c">Manejo de la Intoxicación por Pesticidas</ion-item>
              <ion-item id="page-list-item2" href="#/manejo_d">Mantener contacto constante y ofrecer seguimiento</ion-item> 
              <ion-item id="page-list-item2" href="#/manejo_e">Prevención del suicidio</ion-item>   
          </ion-list>
        </div>
    </center>          
  </ion-content>
</ion-view>