<ion-view>
  <ion-content overflow-scroll="true" class="padding">
    <div class="card">
        <div class="item item-text-wrap">
            <strong>Manejo de la Intoxicación por Pesticidas</strong>
        </div>          
    </div>  
  <div class="card">
    <div class="item item-text-wrap">
        <div id="salud-markdown5" class="show-list-numbers-and-dots">        
           <p>
            Si el establecimiento de atención médica tiene recursos necesarios para el manejo clínico de la intoxicación aguda por pesticidas proceder al tratamiento adecuado.
            <br/><a href="http://www.who.int/mental_health/prevention/suicide/pesticides_intoxication.pdf"> Manejo clínico de la intoxicación aguda por pesticidas</a>
           </p>
           <hr/>
           <p>De otra forma, transfiera a la persona inmediatamente a un establecimiento que tenga los recursos necesarios.</p>
           <hr/>
           <p>» Considere dar carbón activo si la persona está consciente, si da su consentimiento informado y si acude dentro de una hora después del envenenamiento.</p>
           <hr/>
           <p>» No se recomienda la emesis forzada.</p>
           <hr/>
           <p>» No se deben administrar líquidos por vía oral.</p>
          </p>     
        </div>
      </div>
  </div>   
  </ion-content>
</ion-view>