<ion-view>
  <ion-content overflow-scroll="true" class="padding">
    <div class="card">
        <div class="item item-text-wrap">
            <strong>Cuidado de la persona con problemas de autolesión</strong>
        </div>          
    </div>  
  <div class="card">
    <div class="item item-text-wrap text-justify">
        <div id="salud-markdown5" class="show-list-numbers-and-dots">        
          » Coloque a la persona en un ambiente seguro y con apoyo en el centro de salud
            <hr/>
          » Elimine los métodos de autolesión.
            <hr/>
          » Consulte a un especialista de salud mental, si estuviera disponible.
            <hr/>
          » Si un especialista de salud mental no está disponible, acuda a la
          familia, los amigos y otras personas involucradas o a los servicios
          comunitarios para que monitoreen y apoyen a la persona durante el
          período de riesgo inminente.
            <hr/>
          » Incluya a los cuidadores si la persona desea contar con su apoyo
          durante la evaluación y el tratamiento.
            <hr/>
          » Ofrezca apoyo emocional a los familiares / cuidadores, si lo necesitan.
            <hr/>
          » Garantice la continuidad de la atención.
            <hr/>
          » Con el fin de prevenir actos de autolesión, no se recomienda la
          hospitalización en unidades no psiquiátricas de hospitales generales.
            <hr/>
          » Si prescribe medicación:
          – use medicinas que sean las menos peligrosas en caso de sobredosis;
          – entregue prescripciones de corta duración (por ejemplo, para una
          semana a la vez).   
        </div>
      </div>
  </div>   
  </ion-content>
</ion-view>