    <ion-view view-title="Werther">
      <ion-content overflow-scroll="true" class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <strong>¿Tiene la persona trastornos mentales, neurológicos o por uso de sustancias, considerados prioritarios y concomitantes?</strong>
            </div>          
        </div>
        <div id="salud-button-bar1" class="button-bar">
          <a href="#/tab/pregunta_c_si" class="button button-assertive button-block">Si</a>
        </div>     
      <div class="card">
        <div class="item item-text-wrap">
            <div id="salud-markdown5" class="show-list-numbers-and-dots">        
              <p>» Depresión</p>
              <p>» Trastornos por consumo de alcohol o de drogas</p>
              <p>» Trastorno Bipolar</p>
              <p>» Psicosis</p>
              <p>» Epilepsia</p>
              <p>» Trastornos Conductuale</p>
            </div>
          </div>
      </div>   
      </ion-content>
    </ion-view>