    <ion-view view-title="Werther">
      <ion-content overflow-scroll="true" class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <strong>¿Tiene la persona síntomas emocionales suficientemente graves para justificar el tratamiento clínico?</strong>
            </div>          
        </div>
        <div id="salud-button-bar1" class="button-bar">
          <a href="#/pregunta_e_si" class="button button-assertive button-outline button-block">Si</a>
        </div>     
      <div class="card">
        <div class="item item-text-wrap">
            <div id="salud-markdown5" class="show-list-numbers-and-dots">
              <p>» Dificultades para llevar a cabo su trabajo usual, actividades escolares, domésticas o sociales</p> 
              <p>» Marcada aflicción o búsqueda reiterada de ayuda</p> 
              <p>» Auto medicación frecuente para alteraciones emocionales o para los síntomas somáticos sin explicación médica</p>           
            </div>
          </div>
      </div>   
      </ion-content>
    </ion-view>