    <ion-view view-title="Werther">
      <ion-content overflow-scroll="true" class="padding">
        <div class="card">
            <div class="item item-text-wrap">
              <strong>Si hay trastornos prioritarios concomitantes</strong>
            </div>          
        </div>
        <div id="salud-markdown5" class="show-list-numbers-and-dots">        
          <p>Maneje las condiciones concomitantes (refiérase a los módulos respectivos) en conjunto con las acciones antes mencionadas.</p>    
        </div>   
      </ion-content>
    </ion-view>