<?xml version='1.0' encoding='utf-8'?>
<widget id="com.olaje.werther" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Werther</name>
    <description>
        Detección oportuna de conductas suicidas.
    </description>
    <author email="info@heywee.com" href="http://www.uson.mx">
        Heywee
    </author>
    <platform name="android">
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="android-minSdkVersion" value="14" />   
        <icon src="playstore-icon.png" />       
        <icon density="ldpi" src="img/ldpi/icon.png" />
        <icon density="mdpi" src="img/mdpi/icon.png" />
        <icon density="hdpi" src="img/hdpi/icon.png"  />
        <icon density="xhdpi" src="img/xhdpi/icon.png" />
        <icon density="xxhdpi" src="img/xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="img/xxxhdpi/icon.png" />
    </platform>    
    <content src="index.html" />
    <access origin="*" />
</widget>
